@font-face {
  font-family: "iconfont"; /* Project id 3805841 */
  src: url('iconfont.woff2?t=1669984353827') format('woff2'),
       url('iconfont.woff?t=1669984353827') format('woff'),
       url('iconfont.ttf?t=1669984353827') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e665";
}

.icon-rili:before {
  content: "\e8cf";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

